/* Set sans-sarif as fontfamily to meet criteria */
body {
  font-family: sans-serif;
  margin: 0px;
}

/* The contentclass contains all content. Set witdh to 1024 and center the content on screen to meet the layout critierias. */
.content {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* header is 100% of 1024px, contains the siteName and navigation. */
header {
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #ff881f;
  display: flex;
  align-items: center;
}

/* float left to put it sidebyside with nav. */
.headerSiteName {
  flex: 1;
}

.headerNav {
  flex: 2;
}

nav li {
  list-style-type: none;
  display: inline;
}

nav li a {
  text-decoration: none;
  background-color: #0d586d;
  border: 2px solid #000;
  color: #fff;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
}

.active {
  color: #fff;
  text-decoration: underline;
}

nav li a:hover {
  background-color: #157c98;
}

nav li a:visited {
  color: #b8c2d6;
}
/* nav li elements, float them to the left to put them sidebyside with each other and with the sitename. */

/* mainContent is the container for main and aside, to place them sidebyside with flex. */
.mainContent {
  display: flex;
  width: 100%;
  background-color: #ddd;
}

/* main has flex:3 to take up 3/4th of the 1024px. */
main {
  flex: 3;
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #fecf60;
}

/* mainheader 90% and centered to make margin so it looks like the layoutmap. */
.mainHeader {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* Set to 240px to look like the layoutmap. */
.mainHeaderContent {
  width: 240px;
  background-color: #e2e9eb;
}

/* width 90% and centered to make the margin as the layoutmap. */
.subHeader {
  margin-left: auto;
  margin-right: auto;
  background-color: #e2e9eb;
  width: 90%;
}

/* the container for the articles, display:flex so the articles is side-by-side. width 90% and centered to make the margin as the layoutmap shows. */
.articles {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

/* article, flex:1, 2 articles, so each article will take up half the main-space. */
article {
  flex: 1;
  width: 90%;
}

/* The div inside article-container. Centered and 90% width to make margin as layoutmap shows. */
.articleContent {
  background-color: #e2e9eb;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* The aside-container. Flex: 1 to take up a 1/4th of 1024px (main-tag has flex 3). */
aside {
  background-color: #ccec82;
  flex: 1;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

/* The div inside the aside-container. Centered and 90% width to make margin as layoutmap shows. */
.asideContent {
  background-color: #e2e9eb;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* footer should be 100% of 1024px, and min-height 50 so it looks like a footer. */
footer {
  width: 100%;
  background-color: #910669;
  min-height: 50px;
  text-align: center;
  color: #fff;
}

/* Set color to blue and bold text. (second p in article 1) */
.blueBold {
  font-weight: bold;
  color: blue;
}

/* every odd nth child gets red color.  */
ul,
.alterColorList :nth-child(odd) {
  color: red;
}

/* every even nth child gets green color. */
ul,
.alterColorList :nth-child(even) {
  color: green;
}

/* Need to set the OL to prevent the ol to inherit the alter-coloring.  */
ol li {
  color: #000 !important;
}
